/* write your css here */
@keyframes pulseGlow {
  0%, 100% {
    opacity: 1;
    box-shadow: 0 0 10px #ff9900, 0 0 20px #ff6600, 0 0 30px #ff3300;
  }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 5px #ff9900, 0 0 10px #ff6600, 0 0 15px #ff3300;
  }
}

.animate-pulseGlow {
  animation: pulseGlow 2s ease-in-out infinite;
}